body{
    background-color: aqua;
}
h2{
    color: crimson;
}
p{
    font-style:italic ;
    font-family: fantasy;
    font-weight: 300;
    color: darkgoldenrod;
}
button{
    color: red;
}

#beta{
    color: deeppink;
    font-variant: small-caps;
    
}